<%# views/account/register.ejs %>

<h2 class="registerTitle"><%- title %></h2>
<%- messages() %>

<% if (errors) { %>
  <ul class="error">
  <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
  <% }); %>
  </ul>
<% } %>

<a href="/account/login" class="backToLoginLink">← Back to Login</a>
<form action="/account/register" method="post" class="registerForm">
  <p class="formParagraph"><em>** All fields are required ** </em></p>

  <label for="account_firstname">First Name:</label>
  <input type="text" name="account_firstname" id="account_firstname" title="Please enter your first name" pattern="[A-Za-z ]+" placeholder="First Name" value="<%= locals.account_firstname %>" required>

  <label for="account_lastname">Last Name:</label>
  <input type="text" name="account_lastname" id="account_lastname" title="Please enter your last name" pattern="[A-Za-z ]+" placeholder="Last Name" value="<%= locals.account_lastname %>" required>

  <label for="account_email">Email Address:</label>
  <input type="email" name="account_email" id="account_email" title="Please enter your email" placeholder="email@domain.com" pattern="[a-z0-9._%+\-]+[@][a-z0-9.\-]+\.[a-z]{2,}$" value="<%= locals.account_email %>" required>

  <label for="account_password">Password:</label>
  <input type="password" name="account_password" id="account_password" class="passwordInput" title="Please enter your desired password" placeholder="Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>

  <span id="passwordBtn">Show Password</span>

  <div class="formParagraph">
    Password Requirements:
    <ul>
      <li>12 characters total</li>
      <li>At least 1 capital letter</li>
      <li>At least 1 number</li>
      <li>At least 1 special character</li>
    </ul>
  </div>

  <button type="submit" id="submit">Register!</button>

</form>

<script src="../../js/passwordBtn.js"></script>
